<h1>About Kendric-Bloccit</h1>
<p>Created by: Kendric Jones</p>

<h2> Thank you for visiting my About Me page!</h2>
<p>
<p>
<center><%= link_to "Follow me on Facebook", "http://www.facebook.com/djyahtz", class: "social-btn" %></center>

<p>
	
